@charset "UTF-8";
img {
}
html, body {
margin: 0;
padding: 0;
height: 100%;
}
img {
width: 100%;
height: 100%;
object-fit: cover; /* Ensures the image scales and crops to fill */
display: block; /* Removes extra space under the image */
}